<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook</title>
    <link rel="stylesheet" href="/static/styles/newstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Modak&display=swap" rel="stylesheet">
</head>
<body class="red-background">
    <header>
        <div class="logo-container">
            <img src="/static/logo.png" alt="logo">
            <h1 class = "logo">SMFC</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{{url_for('Waitingorders')}}" class="nav-link">Orders</a></li>
                <li><a href="#" class="nav-link">Menu</a></li>
                <li><a href="#" class="nav-link">sign-out</a></li>
                <li><a href="#" class="nav-link">{{username}}</a></li>
            </ul>
        </nav>
    </header>
    <main class="center-content">
        <h2 class="welcome-text"> Welcome back, Mr.{{username}}</h2>
    </main>
</body>
</html>