<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>csign</title>
</head>
<body>
    <form action="{{url_for('csignup')}}" method = "post" style="display: flex; flex-direction: column;width: 60%;justify-content: space-around;align-items: center;">
        <input type="text" name="name" placeholder="your usename">
        <input type="password" name="password" placeholder="your password">
        <input type="text" name="billing" placeholder="your billing">
        <button>login</button>
    </form>
</body>
</html>