<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elogin</title>
</head>
<body>
    <form action="{{url_for('esignup')}}" method = "post" style="display: flex; flex-direction: column;width: 30%;">
        <input type="text" name="name" placeholder="your usename">
        <input type="password" name="password" placeholder="your password">
        <input type="text" name="etype" placeholder="acc type">
        <input type="text" name="vid" placeholder="vendor id">
        <button>login</button>
    </form>
</body>
</html>